:root {
	--color-orange: #EB6D1E;
	--color-orange-light: #EF8A4B;
	--color-orange-lighter: #F3A778;
	--color-rajah: #FCAB5F;
	--color-purple: #5F0F40;
	--color-green: #0F4C5C;

	--color-btn-bg: var(--color-orange-lighter);
	--color-btn-fg: var(--color-purple);
	--color-btn-hover-bg: var(--color-orange-light);
	--color-btn-hover-fg: var(--color-green);
	--color-btn-active-bg: var(--color-orange);
	--color-btn-active-fg: #fff;

	--color-state-bg: var(--color-purple);
	--color-state-hover-bg: var(--color-green);
	--color-state-active-bg: var(--color-orange);

	--border-radius: 6px;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	font-size: 1.125rem;
}

.content__container {
	flex: 0 0 30%;
	max-height: 100vh;
	overflow-y: hidden;
	box-sizing: border-box;
	max-width: 30%;
	min-width: 390px;
}

.content {
	display: none;
	padding: 2.5rem 1.5rem 1.5rem;
	color: var(--color-purple);
	display: none;
	flex-direction: column;
	justify-content: space-between;
	min-height: 80vh;
	max-height: 100vh;
}

.content__states {
    border-bottom: solid 2px var(--color-orange);
    margin-bottom: 0.9rem;
}
.content__title {}
.content__text {
    flex: 0 1 auto;
    overflow-y: auto;
    margin: 1rem 0;
}

.content__text p:first-child { margin-top: 0;}
.content__text p:last-child { margin-bottom: 0;}

.content .button {
    display: inline-block;
    width: auto;
}

.button {
    background-color: var(--color-orange);
    border-radius: var(--border-radius);
    color: #fff;
    padding: 0.5em;
}

.content.active {
	display: flex;
}

.map__container {
	flex: 1 1 auto;
	height: 100%;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.map {
	margin: 1em 0 0;
	flex: 1 1 100%;
	max-width: 100%;
}

.map svg {
	width: 100%;
	height: 100%;
}

.map__button-box {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

.map__button {
	width: 30%;
	background-color: var(--color-btn-bg);
	border-radius: var(--border-radius);
	color: var(--color-btn-fg);
	text-align: center;
	padding: .5rem 0;
	transition: all .3s ease;
}
	.map__button.hover,
	.map__button:hover {
		cursor: pointer;
		background-color: var(--color-btn-hover-bg);
		color: var(--color-btn-hover-fg);
	}

	.map__button:active,
	.map__button.active,
	.map__button.active:hover {
		background-color: var(--color-btn-active-bg);
		color: var(--color-btn-active-fg);
	}

/* ==================================== STATES ===== */
	.state-of-interest path { 
		fill: var(--color-state-bg);
		transition: fill .3s ease;
	}
	.state-of-interest.hover path,
	.state-of-interest:hover path {
		cursor: pointer;
		fill: var(--color-state-hover-bg);}
	.state-of-interest.active path { fill: var(--color-state-active-bg); }


/* ==================================== MEDIA ===== */

@media (max-width: 800px) {
	.map__button-box {
		flex-direction: column;
		align-items: center;
		margin-top: 2.5rem;
	}
	.map__button {
		width: 100%;
		margin-bottom: 1rem;
	}
}