/* ================================= LOCAL FONTS ======*/
	/* ----- DISPLAY ------ */
		@font-face {
		  font-family: 'Bison';
		  src:  url('../fonts/display/Bison-Bold.woff') format('woff'),
		  		url('../fonts/display/Bison-Bold.ttf') format('ttf');
		  font-weight: 700;
		}
		@font-face {
		  font-family: 'Bison';
		  src:  url('../fonts/display/Bison-DemiBold.woff') format('woff'),
		  		url('../fonts/display/Bison-DemiBold.ttf') format('ttf');
		  font-weight: 600;
		}
	/* ----- BODY ------ */
		@font-face {
		  font-family: 'Franklin Light';
		  src:  url('../fonts/body/FranklinGothicURW-Lig.woff') format('woff'),
		  		url('../fonts/body/FranklinGothicURW-Lig.ttf') format('ttf');
		}
		/* @font-face {
		  font-family: 'Franklin Light Italic';
		  src:  url('../fonts/body/FranklinGothicURW-LigIta.woff') format('woff'),
		  		url('../fonts/body/FranklinGothicURW-LigIta.ttf') format('ttf');
		}
		@font-face {
		  font-family: 'Franklin Demi';
		  src:  url('../fonts/body/FranklinGothicURW-Dem.woff') format('woff'),
		  		url('../fonts/body/FranklinGothicURW-Dem.ttf') format('ttf');
		}
		@font-face {
		  font-family: 'Franklin Demi Italic';
		  src:  url('../fonts/body/FranklinGothicURW-DemIta.woff') format('woff'),
		  		url('../fonts/body/FranklinGothicURW-DemIta.ttf') format('ttf');
		}
		@font-face {
		  font-family: 'Franklin Book';
		  src:  url('../fonts/body/FranklinGothicURW-Boo.woff') format('woff'),
		  		url('../fonts/body/FranklinGothicURW-Boo.ttf') format('ttf');
		}
		@font-face {
		  font-family: 'Franklin Heavy';
		  src:  url('../fonts/body/FranklinGothicURW-Hea.woff') format('woff'),
		  		url('../fonts/body/FranklinGothicURW-Hea.ttf') format('ttf'); 
		}*/
	/* ----- COLORS ------ */
		/* ----- Spanish Orange: #EB6D1E; ------ */
		/* ----- Rajah: #FCAB5F; ------ */
		/* ----- Upsdell Red: #B40424; ------ */
		/* ----- Green Eagle: #0F4050; ------ */
		/* ----- Green Eagle, 60%: #6F949D; ------ */
		/* ----- Tyrian Purple: #5F0F40; ------ */
		/* ----- Tyrian Purple, 40%: #BF9FB3; ------ */
		/* ----- Seashell: #FFF4EB; ------ */
		/* ----- Xiketic: #12030C; ------ */

/* ================================= HEADINGS ======*/
	h1 {
		z-index: 6;
		position: relative;
		margin: 0 0 1.75rem 0;
		font-family: 'Buffalo Bold Italic', Helvetica, sans-serif;
		font-size: 7.5rem;
		line-height: 3.8rem;
		color: #5F0F40;
	}

	h2 {
		z-index: 5;
		display: inline-block;
		position: relative;
		margin: 0rem 0 2rem 0;
		padding: .5rem .5rem;
		font-family: 'Bison Bold', Helvetica, sans-serif;
		font-size: 3rem;
		line-height: 2.8rem;
		color: #FFF4EB;
		background-color: #EB6D1E;
	}


	/*h3 {
		font-family: 'Bison Bold', Helvetica, sans-serif;
		text-align: center;
		color: #5F0F40;
	}*/

/* ================================= BODY ======*/

	body,
	p {
		font-family: 'Franklin Light', Franklin, sans-serif;
		font-size: 1.125rem;
		line-height: 1.35;
		color: #12030C;
	}

	/* strong { font-family: 'Franklin Demi', Franklin, sans-serif; }

	em { font-family: 'Franklin Light Italic', Franklin, sans-serif; } */

	a { color: #6F949D; text-decoration: none;}
	a:hover,a:active { color: #EB6D1E; }

	.button {
		font-family: 'Bison', Helvetica, sans-serif;
		font-size: 1.5rem;
		letter-spacing: 0.6px;
		text-decoration: none;
		text-transform: uppercase;
	}

/* ================================= MAP ======*/

	.map__button {
		font-family: 'Bison', Helvetica, sans-serif;
		font-size: 2rem;
		line-height: 1.5rem;
		text-transform: uppercase;
	}

	.content__states {
		font-family: 'Bison', Helvetica, sans-serif;
		font-size: 2rem;
		text-transform: uppercase;
	}
	.content__title {
		font-family: 'Bison', Helvetica, sans-serif;
		font-size: 4rem;
		font-weight: bold;
		line-height: 0.9;
		text-transform: uppercase;
	}
	.content__text {}


@media (max-width: 1250px) {
	.content__title {
		font-size: 3rem;
	}
	.map__button {
		font-size: 1.2rem;
	}
}

@media (max-width: 650px) {
	.content__title {
		font-size: 3rem;
	}
	.map__button {
		font-size: 1rem;
	}
}



